
@font-face {
    font-family: light-box;
    src: url(../web\ fonts/VeniteAdoremusStraight-Yzo6v.ttf);
}



.box3,
.box4,
.box5 {
    cursor: pointer;

}

.items {

    background-image: url(../imgs/Background\ 6.jpg);
    background-size: cover;
    background-position: center center;

}

.neon-text {

    font-family: "Rubik Mono One", monospace !important;
    font-size: 4rem !important;

}

.x {

    color: #0aeaea !important;
}

.o {

    color: #ff7171 !important;
}

.dash-board {
    position: relative;
    width: 22rem;
    z-index: 5;
    margin-bottom: 5rem !important;
    padding: 0 !important;

}

.player1 img,
.player2 img {
    width: 5rem;
    z-index: 1 !important;
    position: absolute !important;
    transform: translate(-50%, calc(-100%));

}
.player1,.player2
{
    background-color: #4F2A9F;
    border: 2px solid white;
    
}
.player1
{
    border-right: none;
}
.player2
{
    border-left: none;
}

.player1 p,
.player2 p {
    font-family: "Rowdies", sans-serif;
    letter-spacing: 3px;
}

.vs {
    font-family: "Rowdies", sans-serif;
    font-size: 1.5rem;
    background-color: rgb(255, 166, 2) !important;

}

.player1 .score,
.player2 .score {
    
    border-radius: 0 0 4px 3px;
    transform: translate(-50%) !important;
    font-family: "Rowdies", sans-serif;
    font-size: 1.5rem;
    background-color: #4F2A9F !important;
    border: 2px solid white;
    border-top: none;


}
.dash-board .result
{
    background-color: black;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    background-color: rgba(255, 255, 255, 0.232);
    background-color: #4f2a9f;
    font-family: light-box;
    height: 2rem;

}
.dash-board .result span
{
    font-size: 1.2rem;
    margin: 0 !important;
    padding: 0 !important;
    font-family: light-box;
}
.dash-board .result p
{
    color: #F5F09C;
    color: rgb(255, 173, 21);
    font-size: 0.8rem;
}


.container-box {

    z-index: 15;
    background-color: rgba(0, 0, 0, 0.488);
    transition: all 0.5s 0.5s;
  
}


.alert-box 
{
    width: 0rem ;
    height: 0rem;
    z-index: 20;
    background-image: url(../imgs/alert\ box.jpg);
    background-position: center;
    background-size: cover;
    top: 60% !important;

} 
.alert-box .content
{
    scale: 0;
}

.alert-box h2
{
 
    font-family: light-box;
    font-size: 3rem !important;
}
.alert-box h2.sign
{

    font-size: 4rem !important;
    font-weight: 700;
}

.alert-box h3
{
    font-family: light-box;
    font-size: 1rem;
    color: #281c42 !important;
}

.alert-box button.yes,
.alert-box button.no

{
    transition: 0.5s;
}

.alert-box button.yes:hover
{
   background-color: green !important;
}

.alert-box button.no:hover
{
   background-color: red !important;
}
