

body {

    background-image: url(../imgs/Background\ 6.jpg);
    font-family: "Play", sans-serif;
    overflow: auto;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.3s;
}

h1 {
    font-weight: 600;
    
}
.heading {
 
    font-size: 3rem;
    text-wrap: nowrap;
    font-family: "Press Start 2P", system-ui;
    background-image: linear-gradient(#eddd64, #799F0C);
    color: transparent !important;
    background-clip: text;
    background-position: center;
    background-size: cover;


}
@media(min-width:992px)
{
    .heading
    {
        margin:5rem 0 !important;
        font-size: 3rem !important;
    }

}




a:hover {
    background-color: rgb(3, 125, 3) !important;
}

@media(max-width:991px) {
    .start-items {
        width: 90% !important;
    }

 
}

@media(min-width:992px) {
    .start-items {
        width: 35% !important;
    }
}